## Trabalho 2 - Banco de dados 2 ##

#### Alunos: Felipe Augusto e Vinicius Jovito

In [1]:
!pip install sqlalchemy
import sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\vinicius jovito\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vinicius jovito\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
engine = sqlalchemy.create_engine('sqlite:///detran.db', echo=True)

In [13]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey

In [4]:
Base = declarative_base()

#### Definindo as classes / tabelas

In [5]:
class Pessoa(Base):
    __tablename__ = 'pessoa'
    id_pessoa = Column(Integer, primary_key=True)
    nome_pessoa = Column(String(50), nullable=False)
    cpf_pessoa = Column(String(11), nullable=False)
    nascimento_pessoa = Column(Date, nullable=False)
    estado_civil_pessoa = Column(String(15))
    endereco_pessoa = Column(String(100))

In [14]:
class CNH(Base):
    __tablename__ = 'cnh'
    id_cnh = Column(Integer, primary_key=True)
    registro_cnh = Column(String(20), nullable=False)
    validade_cnh = Column(Date, nullable=False)
    id_pessoa_cnh = Column(Integer, ForeignKey("pessoa.id_pessoa"))

In [16]:
class Veiculo(Base):
    __tablename__ = 'veiculo'
    id_veiculo = Column(Integer, primary_key=True)
    renavam_veiculo = Column(String(20), nullable=False)
    placa_veiculo = Column(String(10), nullable=False)
    chassi_char = Column(String(17), nullable=False)
    modelo_carro = Column(String(20))
    id_proprietário_veiculo = Column(Integer, ForeignKey("pessoa.id_pessoa"))

In [17]:
class Infracao(Base):
    __tablename__ = 'infracao'
    id_infracao = Column(Integer, primary_key=True)
    codigo_infracao = Column(String(15), nullable=False)
    descricao_infracao = Column(String(500))

In [18]:
class Equipamento(Base):
    __tablename__ = 'equipamento'
    id_equipamento = Column(Integer, primary_key=True)
    numero_equipamento = Column(String(25), nullable=False)
    localizacao_equipamento = Column(String(40))

In [19]:
class Multa(Base):
    __tablename__ = 'multa'
    id_multa = Column(Integer, primary_key=True)
    tipo_multa = Column(String(20))
    numero_multa = Column(Integer)
    data_multa = Column(Date)
    vencimento_multa = Column(Date)
    estado_multa = Column(String(20))
    nome_agente_multa = Column(String(50), nullable=False)
    orgao_multa = Column(String(50), nullable=False)
    id_pessoa_multa = Column(Integer, ForeignKey("pessoa.id_pessoa"))
    id_veiculo_multa = Column(Integer, ForeignKey("veiculo.id_veiculo"))
    id_infracao_multa = Column(Integer, ForeignKey("infracao.id_infracao"))
    id_equipamento_multa = Column(Integer, ForeignKey("equipamento.id_equipamento"))

In [20]:
Base.metadata.create_all(engine)

2022-11-21 16:41:57,145 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-21 16:41:57,146 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pessoa")
2022-11-21 16:41:57,147 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,149 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pessoa")
2022-11-21 16:41:57,149 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,150 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cnh")
2022-11-21 16:41:57,151 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,152 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("cnh")
2022-11-21 16:41:57,153 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,154 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("veiculo")
2022-11-21 16:41:57,155 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,156 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("veiculo")
2022-11-21 16:41:57,156 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,157 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("infracao")
2022-11-21 16:41:57,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,159 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("infracao")
2022-11-21 16:41:57,160 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,161 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("equipamento")
2022-11-21 16:41:57,161 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,162 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("equipamento")
2022-11-21 16:41:57,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,164 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("multa")
2022-11-21 16:41:57,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,166 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("multa")
2022-11-21 16:41:57,167 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-21 16:41:57,169 INFO sqlalchemy.engine.Engine
CREATE TABLE pessoa (
	id_pessoa INTEGER NOT NULL,
	nome_pessoa VARCHAR(50) NOT NULL,
	cpf_pessoa VARCHAR(11) NOT NULL,
	nascimento_pessoa DATE NOT NULL,
	estado_civil_pessoa VARCHAR(15),
	endereco_pessoa VARCHAR(100),
	PRIMARY KEY (id_pessoa)
)


2022-11-21 16:41:57,169 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2022-11-21 16:41:57,178 INFO sqlalchemy.engine.Engine
CREATE TABLE infracao (
	id_infracao INTEGER NOT NULL,
	codigo_infracao VARCHAR(15) NOT NULL,
	descricao_infracao VARCHAR(500),
	PRIMARY KEY (id_infracao)
)


2022-11-21 16:41:57,179 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2022-11-21 16:41:57,187 INFO sqlalchemy.engine.Engine
CREATE TABLE equipamento (
	id_equipamento INTEGER NOT NULL,
	numero_equipamento VARCHAR(25) NOT NULL,
	localizacao_equipamento VARCHAR(40),
	PRIMARY KEY (id_equipamento)
)


2022-11-21 16:41:57,187 INFO sqlalchemy.engine.Engine [no key 0.00070s] ()
2022-11-21 16:41:57,194 INFO sqlalchemy.engine.Engine
CREATE TABLE cnh (
	id_cnh INTEGER NOT NULL,
	registro_cnh VARCHAR(20) NOT NULL,
	validade_cnh DATE NOT NULL,
	id_pessoa_cnh INTEGER,
	PRIMARY KEY (id_cnh),
	FOREIGN KEY(id_pessoa_cnh) REFERENCES pessoa (id_pessoa)
)


2022-11-21 16:41:57,195 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2022-11-21 16:41:57,203 INFO sqlalchemy.engine.Engine
CREATE TABLE veiculo (
	id_veiculo INTEGER NOT NULL,
	renavam_veiculo VARCHAR(20) NOT NULL,
	placa_veiculo VARCHAR(10) NOT NULL,
	chassi_char VARCHAR(17) NOT NULL,
	modelo_carro VARCHAR(20),
	"id_proprietário_veiculo" INTEGER,
	PRIMARY KEY (id_veiculo),
	FOREIGN KEY("id_proprietário_veiculo") REFERENCES pessoa (id_pessoa)
)


2022-11-21 16:41:57,204 INFO sqlalchemy.engine.Engine [no key 0.00083s] ()
2022-11-21 16:41:57,211 INFO sqlalchemy.engine.Engine
CREATE TABLE multa (
	id_multa INTEGER NOT NULL,
	tipo_multa VARCHAR(20),
	numero_multa INTEGER,
	data_multa DATE,
	vencimento_multa DATE,
	estado_multa VARCHAR(20),
	nome_agente_multa VARCHAR(50) NOT NULL,
	orgao_multa VARCHAR(50) NOT NULL,
	id_pessoa_multa INTEGER,
	id_veiculo_multa INTEGER,
	id_infracao_multa INTEGER,
	id_equipamento_multa INTEGER,
	PRIMARY KEY (id_multa),
	FOREIGN KEY(id_pessoa_multa) REFERENCES pessoa (id_pessoa),
	FOREIGN KEY(id_veiculo_multa) REFERENCES veiculo (id_veiculo),
	FOREIGN KEY(id_infracao_multa) REFERENCES infracao (id_infracao),
	FOREIGN KEY(id_equipamento_multa) REFERENCES equipamento (id_equipamento)
)


2022-11-21 16:41:57,211 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2022-11-21 16:41:57,218 INFO sqlalchemy.engine.Engine COMMIT