## Trabalho 2 - Banco de dados 2 ##

#### Alunos: Felipe Augusto e Vinicius Jovito

In [1]:
!pip install sqlalchemy
import sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\vinicius jovito\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vinicius jovito\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
engine = sqlalchemy.create_engine('sqlite:///detran.db', echo=True)

In [3]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey

In [4]:
Base = declarative_base()

#### Definindo as classes / tabelas

In [5]:
class Pessoa(Base):
    __tablename__ = 'pessoa'
    id_pessoa = Column(Integer, primary_key=True)
    nome_pessoa = Column(String(50), nullable=False)
    cpf_pessoa = Column(String(11), nullable=False)
    nascimento_pessoa = Column(String(8), nullable=False)
    estado_civil_pessoa = Column(String(15))
    endereco_pessoa = Column(String(100))
    
    def __repr__(self):
        return "<Pessoa(nome_pessoa={}, cpf_pessoa={}, nascimento_pessoa={}, estado_civil_pessoa={}, endereco_pessoa={})>".format(
            self.nome_pessoa, self.cpf_pessoa, self.nascimento_pessoa, self.estado_civil_pessoa, self.endereco_pessoa)

In [6]:
class CNH(Base):
    __tablename__ = 'cnh'
    id_cnh = Column(Integer, primary_key=True)
    registro_cnh = Column(String(20), nullable=False)
    validade_cnh = Column(String(8), nullable=False)
    id_pessoa_cnh = Column(Integer, ForeignKey("pessoa.id_pessoa"))
    
    def __repr__(self):
        return "<CNH(registro_cnh={}, validade_cnh={})>".format(
            self.registro_cnh, self.validade_cnh)

In [7]:
class Veiculo(Base):
    __tablename__ = 'veiculo'
    id_veiculo = Column(Integer, primary_key=True)
    renavam_veiculo = Column(String(20), nullable=False)
    placa_veiculo = Column(String(10), nullable=False)
    chassi_char = Column(String(17), nullable=False)
    modelo_carro = Column(String(20))
    id_proprietário_veiculo = Column(Integer, ForeignKey("pessoa.id_pessoa"))

    def __repr__(self):
        return "<Veiculo(renavam_veiculo={}, placa_veiculo={}, chassi_char={}, modelo_carro={})>".format(
            self.renavam_veiculo, self.placa_veiculo, self.chassi_char, self.modelo_carro)

In [8]:
class Infracao(Base):
    __tablename__ = 'infracao'
    id_infracao = Column(Integer, primary_key=True)
    codigo_infracao = Column(String(15), nullable=False)
    descricao_infracao = Column(String(500))
    
    def __repr__(self):
        return "<Infracao(codigo_infracao={}, descricao_infracao={})>".format(
            self.codigo_infracao, self.descricao_infracao)

In [9]:
class Equipamento(Base):
    __tablename__ = 'equipamento'
    id_equipamento = Column(Integer, primary_key=True)
    numero_equipamento = Column(String(25), nullable=False)
    localizacao_equipamento = Column(String(40))
    
    def __repr__(self):
        return "<Equipamento(numero_equipamento={}, localizacao_equipamento={})>".format(
            self.numero_equipamento, self.localizacao_equipamento)

In [10]:
class Multa(Base):
    __tablename__ = 'multa'
    id_multa = Column(Integer, primary_key=True)
    tipo_multa = Column(String(20))
    numero_multa = Column(Integer)
    data_multa = Column(String(8))
    vencimento_multa = Column(String(8))
    estado_multa = Column(String(20))
    nome_agente_multa = Column(String(50), nullable=False)
    orgao_multa = Column(String(50), nullable=False)
    id_pessoa_multa = Column(Integer, ForeignKey("pessoa.id_pessoa"))
    id_veiculo_multa = Column(Integer, ForeignKey("veiculo.id_veiculo"))
    id_infracao_multa = Column(Integer, ForeignKey("infracao.id_infracao"))
    id_equipamento_multa = Column(Integer, ForeignKey("equipamento.id_equipamento"))
    
def __repr__(self):
        return "<Multa(tipo_multa={}, numero_multa={}, data_multa={}, vencimento_multa={}, estado_multa={}, nome_agente_multa={}, orgao_multa={})>".format(
            self.tipo_multa, self.numero_multa, self.data_multa, self.vencimento_multa, self.estado_multa, self.nome_agente_multa, self.orgao_multa)

In [11]:
Base.metadata.create_all(engine)

2022-11-22 13:36:24,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-22 13:36:24,780 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pessoa")
2022-11-22 13:36:24,780 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,782 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cnh")
2022-11-22 13:36:24,783 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,784 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("veiculo")
2022-11-22 13:36:24,785 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,786 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("infracao")
2022-11-22 13:36:24,787 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,788 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("equipamento")
2022-11-22 13:36:24,789 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,790 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("multa")
2022-11-22 13:36:24,791 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-22 13:36:24,792 INFO sqlalchemy.engine.Engine COMMIT

#### Create

In [12]:
from sqlalchemy.orm import sessionmaker

In [13]:
Session = sessionmaker(bind=engine)
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///detran.db), autoflush=True, autocommit=False, expire_on_commit=True)

In [14]:
session = Session()

In [15]:
#Adicionando novas pessoas na tabela Pessoa
session.add_all([
    Pessoa(nome_pessoa = 'Vinicius Soares Jovito', cpf_pessoa = '11122233344', nascimento_pessoa = '2000-04-15', estado_civil_pessoa = 'Solteiro', endereco_pessoa = 'Riacho Fundo 1'),
    Pessoa(nome_pessoa = 'Felipe Augusto', cpf_pessoa = '44433322211', nascimento_pessoa = '2000-03-15', estado_civil_pessoa = 'Solteiro', endereco_pessoa = 'Candangolândia'),
    ])

In [ ]:
#Adicionando dados na tabela CNH
session.add_all([
    CNH(nome_pessoa = 'Vinicius Soares Jovito', cpf_pessoa = '11122233344', nascimento_pessoa = '2000-04-15', estado_civil_pessoa = 'Solteiro', endereco_pessoa = 'Riacho Fundo 1'),
    CNH(nome_pessoa = 'Felipe Augusto', cpf_pessoa = '44433322211', nascimento_pessoa = '2000-03-15', estado_civil_pessoa = 'Solteiro', endereco_pessoa = 'Candangolândia'),
    ])

In [16]:
#Verificando os dados antes de colocar no banco
session.new

IdentitySet([<Pessoa(nome_pessoa=Vinicius Soares Jovito, cpf_pessoa=11122233344, nascimento_pessoa=2000-04-15, estado_civil_pessoa=Solteiro, endereco_pessoa=Riacho Fundo 1)>, <Pessoa(nome_pessoa=Felipe Augusto, cpf_pessoa=44433322211, nascimento_pessoa=2000-03-15, estado_civil_pessoa=Solteiro, endereco_pessoa=Candangolândia)>])

In [17]:
#Enviando os dados para o banco de dados
session.commit()

2022-11-22 13:36:24,889 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-22 13:36:24,892 INFO sqlalchemy.engine.Engine INSERT INTO pessoa (nome_pessoa, cpf_pessoa, nascimento_pessoa, estado_civil_pessoa, endereco_pessoa) VALUES (?, ?, ?, ?, ?)
2022-11-22 13:36:24,893 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ('Vinicius Soares Jovito', '11122233344', '2000-04-15', 'Solteiro', 'Riacho Fundo 1')
2022-11-22 13:36:24,896 INFO sqlalchemy.engine.Engine INSERT INTO pessoa (nome_pessoa, cpf_pessoa, nascimento_pessoa, estado_civil_pessoa, endereco_pessoa) VALUES (?, ?, ?, ?, ?)
2022-11-22 13:36:24,897 INFO sqlalchemy.engine.Engine [cached since 0.005241s ago] ('Felipe Augusto', '44433322211', '2000-03-15', 'Solteiro', 'Candangolândia')
2022-11-22 13:36:24,898 INFO sqlalchemy.engine.Engine COMMIT

#### Read

In [18]:
query_pessoa = session.query(Pessoa).filter_by(nome_pessoa='Vinicius Soares Jovito').first()

2022-11-22 13:36:24,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-22 13:36:24,931 INFO sqlalchemy.engine.Engine SELECT pessoa.id_pessoa AS pessoa_id_pessoa, pessoa.nome_pessoa AS pessoa_nome_pessoa, pessoa.cpf_pessoa AS pessoa_cpf_pessoa, pessoa.nascimento_pessoa AS pessoa_nascimento_pessoa, pessoa.estado_civil_pessoa AS pessoa_estado_civil_pessoa, pessoa.endereco_pessoa AS pessoa_endereco_pessoa
FROM pessoa
WHERE pessoa.nome_pessoa = ?
 LIMIT ? OFFSET ?
2022-11-22 13:36:24,932 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ('Vinicius Soares Jovito', 1, 0)

In [19]:
for instance in session.query(Pessoa).order_by(Pessoa.id_pessoa):
    print(instance.id_pessoa, instance.nome_pessoa, instance.cpf_pessoa, instance.nascimento_pessoa, instance.estado_civil_pessoa, instance.endereco_pessoa)

2022-11-22 13:36:24,954 INFO sqlalchemy.engine.Engine SELECT pessoa.id_pessoa AS pessoa_id_pessoa, pessoa.nome_pessoa AS pessoa_nome_pessoa, pessoa.cpf_pessoa AS pessoa_cpf_pessoa, pessoa.nascimento_pessoa AS pessoa_nascimento_pessoa, pessoa.estado_civil_pessoa AS pessoa_estado_civil_pessoa, pessoa.endereco_pessoa AS pessoa_endereco_pessoa
FROM pessoa ORDER BY pessoa.id_pessoa
2022-11-22 13:36:24,955 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ()
1 Vinicius Soares Jovito 11122233344 2000-04-15 Solteiro Riacho Fundo 1
2 Felipe Augusto 44433322211 2000-03-15 Solteiro Candangolândia

In [20]:
query_pessoa.id_pessoa

1